*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-image: url("./inspiration-geometry.png");
    background-color: black;
    background-position: top right;
    animation: mymove 10s infinite;
}
@keyframes mymove {
    50% {background-position: bottom left;}
  }
body{
    margin:4%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    width: 30%;
    height: 10%;
    font-size: 40px;
    text-align: center;
    color: lightgray;
    background-color: #e84545;
    border-radius: 40px;
    padding: 1.5%;
    margin: 1%;
    background-image: none;
    font-family: 'New Tegomin', serif;
}
.sub-heading{
    color: lightgray;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
}
.input-sec{
    width: 100%;
    font-size: 30px;
    color: lightgray;
    border: 2px solid #e84545;
    border-radius: 30px;
    margin: 20px;
    padding: 10px;
    
}
.input-sec-f{
    padding: 1%;
    width: 100%;
}
.ques{
    color: lightgray;
    padding-bottom: 10px;
}
.input{
    align-content: center;
    width: 90%;
    height: 40px;
    background-color: lightgray;
    border-radius: 15px;
    border: none;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #e84545;
    text-align: center;
    font-size: large;
}
.input:focus{
    outline: none;
}
.button{
    width: 100px;
    height: 32px;
    border: none;
    background-color: #e84545;
    border-radius: 20px;
    margin-left: 10px;
    color: lightgray;
    font-size: 15px;
}
.button:focus{
    outline: none;
}
.output-sec{
    width: 100%;
    padding: none;
    color: lightgray;
    margin: none;
}
.ginp{
    width: 100%;
    font-size: 25px;
    margin: 2%;
    padding: 1%;
    overflow: scroll;
}
.analysed{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    width: 100%;
    /* flex-direction: row; */
    color: lightgray;
}
.vowel,.consonent,.sp_char,.spaces,.numbers{
    display: flex;
    margin: 1%;
    padding: 1%;
    width: 222px;
    height: 50px;
    background-color: #e84545;
    border-radius: 20px;
    background-image: none;
    color: lightgray;
    font-size: 20px;
    align-content: center;
}
#display_vowel,#display_consonent,#display_space,#display_special_character,#display_number{
    text-align: center;
    background-color: #e84545;
    padding-left: 3%;
}
.button:hover{
    background-color: #f10e0e;
    background-image: none;
    transform: scale(1.1);
    transition: width 0.75s,height 0.75s, transform 0.75s;
    transition-timing-function: ease-in-out;
}